# Programatic Thinking

## 1.1 Arithmetic Operators

<font color="red">Arithmetic Operator</font> - Symbols that represent an arithmetic operataion. + - / * ** // &

In [10]:
13 % 2

1

<b>Integers</b> - represent numbers with no fractional or decimal part

<b>floating-point numbers</b> - represent integers with a decimal point

In [11]:
84 // 2 # Floor Division (Integer Division) - it divides and only gives you the numbers before the decimal

42

In [12]:
85 // 2

42

In [13]:
# Exponents - when you raise a number to a power of another number
7 ** 2

49

In [14]:
7 ** 2.5

129.64181424216494

In [15]:
# 7 ^ 2 - in some languages you use a caret for exponents

## 1.2 Expressions

<b>Expression</b> - A collection of operators and numbers

In [16]:
6 + 6 ** 2

42

In [17]:
12 + 5 * 6

42

In [18]:
(12 + 5) * 6

102

## 1.3 Arithmetic functions

In [19]:
round(42.4) # round the number in the parenthesis

42

In [20]:
round(42.6)

43

In [21]:
round(41.5)

42

In [ ]:
# the abs function - computes the absolute value of a number
abs(42)

42

In [23]:
abs(-42)

42

In [25]:
abs 42

SyntaxError: invalid syntax (816474439.py, line 1)

## 1.4 Strings

<b>Strings</b> - In Python or in any other programming language, strings represent a sequence of characters contained in quotes (either single or double).

In [ ]:
'Hello' # single quotes

'Hello'

In [27]:
"world" # double quotes

'world'

In [28]:
"Hello world'

SyntaxError: unterminated string literal (detected at line 1) (2765662568.py, line 1)

In [30]:
'It\'s a small world'

"It's a small world"

### + operator with strings:

<b>Concatination</b> - taking multiple strings and putting them together.

In [32]:
"Well," + " it's a small " + "world."

"Well, it's a small world."

### * operator with strings

- Makes multiple copies of a string and concatinates them together.

In [33]:
"Spam, " * 4

'Spam, Spam, Spam, Spam, '

### String Functions

In [34]:
len("Spam") # the length of the string

4

In [35]:
`Hello`

SyntaxError: invalid syntax (3321520974.py, line 1)

## 1.5 Values and Types 

### Data Types:
* Integers
* Floats
* Strings
* Boolean
* NULL

<b>Type</b> - What kind of value is the data that we are using.  Values can belong to a type of data.

In [1]:
# Python type function

type(2)

int

In [2]:
type(2.4)

float

In [3]:
type(True)

bool

In [4]:
type("Elijah's haircut")

str

In [5]:
int(42.9)

42

In [6]:
float(42)

42.0

In [7]:
str(42)

'42'

In [8]:
'42' + '5'

'425'

In [9]:
'126' / 3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [11]:
int('126') / 3

42.0

In [ ]:
age = input("Please enter your age: ") 
# All data collected from an input statement is ALWAYS a string.

birthYear = 2025 - age
print(birthYear)

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [14]:
age = int(input("Please enter your age: "))
# All data collected from an input statement is ALWAYS a string.

birthYear = 2025 - age
print(birthYear)

2008

In [15]:
1000000

1000000

In [16]:
1.000.000

SyntaxError: invalid syntax (1797962719.py, line 1)

In [17]:
1024

1024

In [19]:
round(42.5)
# Rounding with .5 rounds randomly

42

## 1.9.5 Exercise

The following questions give you a chance to practice writing arithmetic expressions.

1. How many seconds are there in 42 minutes 42 seconds?
2. How many miles are there in 10 kilometers? HINT: 1 mile = 1.61 kilometer
3. If you run a 10km race in 42 minutes 42 seconds, what is your average pace in seconds/mile?
4. What is your average pace in minutes and seconds/mile?
5. What is your average speed in mi/hr?

In [ ]:
# Question 1
seconds = 42 * 60
tot_secs = seconds + 42

print(str(tot_secs) + " seconds in 42:42")

2562 seconds in 42:42

In [ ]:
# Question 2
miles = round(10 / 1.61, 2)

print(str(miles) + " miles in 10km")

6.21

In [46]:
# Question 3
spm = tot_secs / miles

print(str(round(spm, 2)) + " seconds per mile")

412.56 seconds per mile

In [41]:
# Question 4
mpm = spm / 60

print(round(mpm, 2))

6.88

In [ ]:
# Question 5
mph = 60 / mpm

print(str(round(mph, 2)) + " miles per hour")

8.73 miles per hour