# 2. Variables and Statements

## 2.1 Variable

<b>Variable</b> - a name that refers to a value

In [6]:
n = 17

# n is the name of my variable
# the variable name refers to a space in computer memory that holds a value

### Assignment Statement

The assignment statement has 3 parts:
* the name of the variable
* the equal sign --> the assignment operator
* an expression to the right of an assigment operator

In [7]:
pi = 3.141592653589793

# our expression will be a string - still an expression but a series of characters
# contained in quotes
message = "and now for something completely different"

In [12]:
message

'and now for something completely different'

In [8]:
n

17

In [6]:
pi

3.141592653589793

In [7]:
n + 25

42

In [8]:
2 * pi

6.283185307179586

In [9]:
round(pi)

3

In [13]:
len(message)

42

## 2.2 State Diagrams

<b>State Diaram</b> - a figures that shows what state each of the variable is in.

<img src="http://allendowney.github.io/ThinkPython/_images/54319c437cca81caa5fa9ee52a1edfb01810e693b7ebd67c56de713f1d132655.png">

## 2.3 Variable Names

There are rules to naming variables

- The only punctuation that can appear in a variable name in Python is _
- You can NOT start a variable name with a number
- You cannot use Python keywords as a variable name

### Good Variable Names

In [15]:
your_name = "Kainan"
YourName = "Kainan"
yourName = "Kainan"
mph = 55
x = 7

### Bad Variable Names

In [14]:
million! = 1000000

SyntaxError: invalid syntax (347180775.py, line 1)

In [18]:
76trombones = "big parade"

SyntaxError: invalid decimal literal (2636345124.py, line 1)

In [16]:
trombones76 = "big parade"

In [17]:
class = "Self-Defense Against Fresh Fruit"

SyntaxError: invalid syntax (3902477141.py, line 1)

In [24]:
True = "this is my boolean"

SyntaxError: cannot assign to True (3906484317.py, line 1)

### Unusable Keywords:

<pre>False      await      else       import     pass
None       break      except     in         raise
True       class      finally    is         return
and        continue   for        lambda     try
as         def        from       nonlocal   while
assert     del        global     not        with
async      elif       if         or         yield</pre>

## 2.4 The import Statment

In [1]:
import math

In [2]:
math.pi

3.141592653589793

In [3]:
math.sqrt(25)

5.0

In [4]:
math.pow(5, 2)

25.0

## 2.5 Expressions and Statements

In [11]:
19 + n + round(math.pi) * 2

42

<b>Statement</b> - a unit of code that has an effect, but no value.  For example, assignment statement --> n = 17 - creates a variable and gives it a value, but the statement itself has no value.

## 2.6 The print Function

The print() function is one of Python's primary output functions.

In [12]:
n + 1

18

In [13]:
n + 2
n + 3

20

In [17]:
print(n + 2)
print(n + 3)

20
21

In [28]:
print("The value of pi is approximately: ")
print()
print(math.pi)

The value of pi is approximately:

3.141592653589793

In [30]:
print("The value of pi is approximately:", math.pi, "Elijah got a haircut.")

The value of pi is approximately: 3.141592653589793 Elijah got a haircut.

## 2.7 Arguments

<b>Argument</b> - when you call a function, the expression that is placed inside of the parentheses is called an argument.

* It is only called an argument when the function is being called.
* When a function is being defined, we call the expression(s) inside of the parentheses is called a Parameter.

In [32]:
int("101")

101

In [43]:
num = "101"
print(2 * num)
num = int(num)
print(2 * num)

101101
202

In [44]:
# Functions can accept multiple arguments
math.pow(5, 2)

25.0

In [46]:
# Option additional arguments
int("101", 2) # The 2 refers to what number base we are converting --> Binary

5

In [47]:
round(math.pi, 3)

3.142

In [48]:
# If you use more arguments than the function allows
float("123.0", 2)

TypeError: float expected at most 1 argument, got 2

In [49]:
float("123.0")

123.0

In [50]:
math.pi(2)

TypeError: 'float' object is not callable

In [51]:
math.sqrt("123")

TypeError: must be real number, not str

## 2.8 Comments

In [ ]:
# number of seconds in 42:42
seconds = 42 * 60 + 42

In [53]:
miles = 10 / 1.61 # 10 kilometers in miles

In [1]:
# Comments must be descriptive and not just repeat the code that comes with it
v = 8   # assign 8 to v
v = 8   # velocity in miles per hour